input:focus {
    outline: none;
}
.kt-login__signin {
    max-width: 789px;
    width: 100%;
    margin-bottom: 10rem;
}
.kt-login__head .kt-login__title {
    text-align: center;
    font-size: 2rem;
    height: 81px;
    
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #717171;
}
.kt-login__head {
    margin-top: 1rem;
    text-align: center;
}
.kt-login__form {
    margin-top: 1rem;
}
.kt-login__form .form-group {
    margin: 0;
    padding: 0;
    position: relative;
}
.kt-login__form .form-control {
    height: 46px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    padding: 1rem 0;
    margin-top: .1rem;
    color: #595d6e;
    padding-bottom: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: .65rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ababab;
    font-weight: 400;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ababab;
    font-weight: 400;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ababab;
    font-weight: 400;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ababab;
    font-weight: 400;
  }

.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
}

.form-group .invalid-feedback, .form-group .valid-feedback {
    font-weight: 400;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #fd397a;
}
.kt-login__actions {
    margin: 3rem 0;
    text-align: center;
}

.btn.btn-brand.btn-elevate {
    
    height: 100px;
    text-align: center;
    
    background-color: #d8d8d8;
    border-radius: 2px;
    font-size: 2rem;
    width: 100%;
    color: white;
    border: none;
}
.btn.btn-brand.btn-elevate.active, .btn.btn-brand.btn-elevate:hover {
    background-color: #59a840;
}




.alert-text {
    color: #f90000;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}