.ntladipage,
.nttime {
    display: inline-block
}

.jas-sale-pop.flex {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.jas-sale-pop.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center
}

.jas-sale-pop.slideUp {
    bottom: 20px;
    opacity: 1;
    visibility: visible
}

.jas-sale-pop {
    background: #fff;
    bottom: -100%;
    right: 20px;
    padding: 10px 30px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
    z-index: 99999;
    height: 69px;
    position: fixed;
    border-radius: 50px
}

.jas-sale-pop .mr__20 {
    margin-right: 10px
}

.jas-sale-pop h4 {
    color: #222;
    margin: 0;
    height: 16px;
    font-size: 13px;
    display: block;
    padding: 0;
    font-weight: 700;
    margin-bottom: 0
}

.jas-sale-pop-content h3 {
    margin: 0;
    height: 20px;
    line-height: 16px
}

.jas-sale-pop h3 a {
    margin: 0;
    color: #06f;
    font-size: 12px
}

.jas-sale-pop .jas-sale-pop-timeago {
    color: #878787;
    font-size: 11px;
    color: #aaa
}

.jas-sale-pop .pe-7s-close {
    right: 5px;
    top: 0;
    cursor: pointer;
    position: absolute;
    font-family: FontAwesome
}

.jas-sale-pop-img img {
    margin-top: -19px
}

.descscdd {
    position: fixed;
    padding: 5px;
    color: #fff;
    background: #2d7904;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    text-align: center;
}

.global {
    background: #f9f9f9;
}

.dktss {
    background: #cb4518;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    width: 100%;
    padding: 5px 0
}

.banner-xs {
    background: #f9f9f9;
    padding: 5px
}

.itrs {
    margin-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.titlevay {
    color: green
}

.hanmuc {
    color: #c40707;
    font-size: 15px;
    padding-top: 5px;
}

.ttac {
    color: #666;
}

@media (max-width: 767px) {
    .dktss {
        width: 40%;
        margin: 0 auto;
        display: table;
        border-radius: 5px 5px 5px 5px;
    }
    .itrs {
        padding-bottom: 15px;
        border-bottom: 1px solid #e7e7e7;
    }
}

.infocomment {
    display: block;
    clear: both;
    margin-bottom: 20px
}

.comment_ask strong {
    font-size: 14px;
    color: #333;
    text-transform: capitalize
}

.infocom_ask,
.infocom_ask_s {
    display: block;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 22px;
    margin-left: 30px
}

.comment_ask .relate_infocom {
    margin-left: 30px
}

.relate_infocom {
    display: block;
    overflow: visible;
    height: 18px;
    padding: 5px 0;
    font-size: 12px;
    color: #666;
    position: relative
}

.iconcom-user {
    width: 25px;
    height: 25px;
    background-image: none!important;
    background-color: #ccc;
    margin-right: 7px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-style: normal
}

.comment_ask {
    display: block;
    overflow: visible;
    margin: 10px 0 0
}

.comment_reply {
    display: block;
    margin-top: 10px;
    position: relative;
    background: #f1f1f1;
    border: 1px solid #e7e7e7;
    padding: 15px 10px;
    font-size: 14px;
    color: #333;
    margin-left: 30px
}

.arrow_box {
    position: relative;
    left: 7px;
    display: block;
    margin-top: -15px;
    z-index: 9;
    background: #f1f1f1
}

.avt-qtv {
    float: left;
    width: 27px;
    height: 27px;
    margin-right: 7px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .2)
}

.avt-qtv .iconcom-avactv {
    background-position: -223px -46px;
    width: 27px;
    height: 27px;
    object-fit: cover
}

[class*=iconcom-],
[class^=iconcom-] {
    background-image: url(/images/bg_comment@2x.v20190108.png);
    background-size: 320px 250px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle
}

.comment_ask .qtv {
    text-transform: uppercase;
    margin-right: 10px;
    color: #000;
    font-weight: 400;
    font-size: 10px;
    background: #eebc49;
    padding: 2px 6px;
    border-radius: 3px;
    line-height: 18px;
    height: 18px;
    margin-left: 10px
}

.relate_infocom .btnreply {
    cursor: pointer;
    color: #4a90e2
}

.relate_infocom span {
    float: left
}

.relate_infocom span.like {
    float: none
}

.like {
    color: #4a90e2;
    cursor: pointer
}

.iconcom-like {
    background-position: -107px -26px!important;
    width: 10px!important;
    height: 13px!important;
    margin: 0 5px;
    margin-top: 0;
    margin-top: -3px
}

.relate_infocom .dot {
    float: left;
    display: inline;
    font-size: 8px;
    vertical-align: middle;
    margin: 2px 5px;
    color: #babbb8
}

.arrow_box::before {
    border-bottom-color: #e7e7e7;
    border-width: 12px;
    margin-left: -12px
}

.arrow_box::after {
    border-bottom-color: #f1f1f1;
    border-width: 11px;
    margin-left: -11px
}

.arrow_box::after,
.arrow_box::before {
    bottom: 100%;
    border: solid transparent;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-color: transparent;
    border-bottom-width: medium;
    border-left-width: medium;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

textarea {
    min-height: 100px;
    border-radius: 8px
}

.select2-container .select2-choice,
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 .75em;
    padding-top: 0;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    transition: color .3s, border .3s, background .3s, opacity .3s
}

textarea {
    overflow: auto
}

.button,
button,
fieldset,
input,
select,
textarea {
    margin-bottom: 1em
}

@media screen and (min-width:850px) {
    .large-4 {
        max-width: 33.33333%;
        -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%
    }
}

input[type=submit]:not(.is-form) {
    background-color: #b8100d!important
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    position: relative;
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    font-size: .97em;
    letter-spacing: .03em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    color: currentColor;
    text-decoration: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s, -webkit-transform .3s;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s, -webkit-transform .3s;
    text-rendering: optimizeLegibility;
    box-sizing: border-box
}

.button,
input[type=button].button,
input[type=reset].button,
input[type=submit],
input[type=submit].button {
    color: #fff;
    background-color: #446084;
    border-color: rgba(0, 0, 0, .05)
}

textarea {
    padding-top: 0.7em;
    min-height: 120px;
}

.quantam li {
    list-style: circle;
}

.quantam ul {
    padding-left: 25px
}

.quantam p {
    margin-bottom: 0px
}

.quantam {
    background: #f9f9f9;
    padding: 5px;
}

.items-container {
    font-size: 16px;
    line-height: 27px;
}