/* Add here all your css styles (customizations) */

.table-nn {
    padding-left: 15px;
    padding-right: 15px;
}

.table-nn tr td h3,
.table-nn tr td h4,
.table-nn tr td h5,
.table-nn tr td h6 {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}

table tr th {
    background: #f1f1f1;
}

.table-details h2,
.table-details h3,
.table-details h4,
.table-details h5,
.table-details h6 {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}

.news-v3 h2 {
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 27px;
}

.news-v3 h2 a,
.news-v3 h2 a:link,
.news-v3 h2 a:visited {
    font-weight: 400;
}

.news-v3 h2 a:hover {
    color: #444;
}

.news-v3 h3 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

ul.pagination li.border-left span {
    border: none;
    border-left: 1px solid #ddd;
}

ul.pagination li.border-right span {
    border: none;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.social {
    text-align: right;
    overflow: hidden;
    width: 230px;
    float: right;
    padding-bottom: 10px;
    clear: both;
}

.social .facebook {
    float: left;
    width: 150px;
}

.social .google {
    float: right;
    width: 60px;
}


/* .fixbanner-ads {float:left !important;} */

.fixcontent {
    float: right;
}

.fixbanner-ctn {
    float: left;
}

.stick-ads {}

.fixbanner {
    padding: 40px 0;
}

@media(max-width:767px) {
    .fixbanner-ctn {
        display: none;
    }
}

@media(min-width:768px) {
    .fixbanner-ctn {
        display: none;
    }
}

@media(min-width:992px) {
    .container {
        width: 992px !important;
    }
    .fixcontent {
        width: 830px !important;
    }
    .stick-ads {
        width: 160px;
        min-height: 400px;
    }
    .fixbanner-ctn {
        display: block;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1180px !important;
    }
    .fixcontent {
        width: 1010px !important;
    }
    .stick-ads {
        width: 160px;
        min-height: 400px;
    }
    .fixbanner-ctn {
        display: block;
    }
}

@media(min-width:1300px) {
    .container {
        width: 1290px !important;
    }
    .fixcontent {
        width: 980px !important;
    }
    .stick-ads {
        width: 300px;
        min-height: 400px;
    }
    .fixbanner-ctn {
        display: block;
    }
}

.search_tc p {
    font-size: 14px
}

.ul-nmn li .search {
    padding-right: 4px;
    padding-top: 4px
}

.gsc-control-cse {
    padding: 0!important
}

.print {
    float: right
}

.gsc-cursor-page {
    border: 1px solid #e7e7e7!important;
    border-radius: 5px;
    font-size: 18px!important;
    padding: 1px 6px
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background: #08d!important;
    color: #fff!important
}

.gsc-thumbnail-inside {
    padding: 0!important
}

.gsc-input-box {
    height: 32px!important
}

.cse .gsc-control-cse,
.gsc-control-cse {
    background-color: transparent!important;
    border: none!important
}

table.gsc-search-box {
    margin-bottom: 20px!important
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
    box-sizing: content-box
}

.gsc-results {
    background: #fff!important;
    width: 100%!important
}

.ad,
.gsc-webResult .gsc-result {
    padding: 10px!important
}

.news-v3 h2 a,
.news-v3 h2 a:link,
.news-v3 h2 a:visited {
    color: green;
}

a {
    color: green;
}

.btn-u {
    background: green;
    padding: 0 13px;
}

span.label-u,
span.badge-u,
.list-group-item.active>.badge.badge-u {
    background: #888888;
}

.page a:hover {
    background: green;
}

.page a.active {
    background: green;
}

.page a {
    border: 1px solid green;
    color: green;
}

.gsib_a {
    padding: 2px 6px 0 !important;
}

.gsc-search-button-v2 {
    padding: 8px 27px !important;
    border-color: #c1c1c1 !important;
    background-color: #4d90fe !important;
}

.post-comment iframe,
.fb-comments,
.post-comment .fb-comments span,
#u_0_0 {
    width: 100% !important;
}

.post-content img,
.post-content figure {
    max-width: 100%;
}

.post-content .alignnone {
    margin: 0 auto;
    display: block;
}