.dropdown .list-unstyled li {
	background-size: 41px 20px;
	background-repeat: no-repeat;
	padding-left: 41px;
	background-position: left center;
	margin-left:10px;
	background-color:#f9f9f9;
	margin-bottom:5px;
}
.dropdown .list-unstyled .live{background-image: url("../images/question.png");}
.dropdown .list-unstyled .live1{background-image: url("../images/check.png");}
.dropdown .list-unstyled .live2{background-image: url("../images/timatm.png");}
.dropdown .list-unstyled .live3{background-image: url("../images/nganhanggan.png");}
.dropdown .list-unstyled .live4{background-image: url("../images/giavang.png");}
.dropdown .list-unstyled .live5{background-image: url("../images/chuyendoi.png");}
.dropdown .list-unstyled .live6{background-image: url("../images/question.png");}
.dropdown .list-unstyled .live7{background-image: url("../images/danhsachvay.png");}
.dropdown .list-unstyled .live8{background-image: url("../images/doctordong.png");}
.dropdown .list-unstyled .live9{background-image: url("../images/fecredit.png");}
.dropdown .list-unstyled .live10{background-image: url("../images/hdsaigon.png");}
.dropdown .list-unstyled .live11{background-image: url("../images/homecredit.png");}
.dropdown .list-unstyled .live12{background-image: url("../images/acs.png");}
.dropdown .list-unstyled .live13{background-image: url("../images/mcredit.png");}
.dropdown .list-unstyled .live14{background-image: url("../images/miraeasset.png");}
.dropdown .list-unstyled .live15{background-image: url("../images/jaccs.png");}
.dropdown .list-unstyled .live16{background-image: url("../images/laisuat.png");}
@media(max-width:375px){
.dropdown .list-unstyled li {margin-left:5px;}
}
.people-description .quoteopen{
	background-image: url("../images/quote_1-min.png");
	background-repeat: no-repeat;
	background-size: 15px 10px;
	padding-right:15px;
}
.people-description .quoteclose{
	background-image: url("../images/quote_2-min.png");
	background-repeat: no-repeat;
	background-size: 15px 10px;
	padding-left:15px;
	background-position:right bottom;
}
.people-say-content .people-img {
	background-repeat: no-repeat;
	background-size: 115px 115px;
}
.copyright {text-align:center;color:#eee;background:#201f1f;padding:10px 0px 1px 0px;}
.copyright p{padding-top:5px;}
.scorex {
  display: inline-block;
  font-family: Wingdings;
  font-size: 22px;
  color: #ccc;
  position: relative;
}
.scorex::before,
.scorex::after {
  content: "\2605\2605\2605\2605\2605";
  display: block;
}
.scorex::after {
  color: orange;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.scorex.s0::after {
  width: 0%;
}
.scorex.s5::after {
  width: 50%;
}
.scorex.s6::after {
  width: 60%;
}
.scorex.s7::after {
  width: 70%;
}
.scorex.s8::after {
  width: 80%;
}
.scorex.s9::after {
  width: 90%;
}
.scorex.s10::after {
  width: 100%;
}
.share{font-size:25px;}
.share i{padding-right:5px;}